.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
  background: white;
}

.fb {
  background: #3B5998 !important;
}

.fb:hover {
  background: #2b4170 !important;
}

.Gm {
  background: #4285f4 !important;
}

.Gm:hover {
  background: #4285f4 !important;
}

.ctn {
  min-height: 83vh;
}

.menuApp {
  padding: 5px 0;
  background: #97D2C3;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.menuApp a {
  color: white;
  font-size: 10px;
  text-align: center;
}

.menuApp i {
  margin-bottom: 5px;
  font-size: 15px;
}

.button {
  background: #97D2C3;
}

.button:hover, .button:active {
  background: #82b5a8;
}
